<template>
  <v-container>
    <v-card flat class="mx-auto">
      <v-card-title primary-title>
        Imágenes pendientes por aprobar
      </v-card-title>

      <v-card-text v-if="success">
        La imagen se aprobó correctamente
      </v-card-text>
    </v-card>
    <v-row>
      <v-col
        v-for="(imagen, i) in imagenes"
        :key="imagen.idimagenes_grupo"
        class="d-flex child-flex"
        cols="4"
        ><v-hover v-slot="{ hover }">
          <v-img
            :src="link + imagen.archivo"
            :lazy-src="link + imagen.archivo"
            aspect-ratio="1"
            class="grey lighten-2"
            height="200"
          >
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular
                  indeterminate
                  color="grey lighten-5"
                ></v-progress-circular>
              </v-row>
            </template>
            <v-expand-transition>
              <div
                v-if="hover"
                class="d-flex transition-fast-in-fast-out  v-card--reveal text-h2 white--text"
                style="height: 100%;"
              >
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      @click="deleteImagen(imagen.idimagenes_grupo, 1)"
                      class="mx-2"
                      fab
                      dark
                      small
                      color="red"
                    >
                      <v-icon large dark>
                        mdi-minus
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Eliminar imagen</span>
                </v-tooltip>
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      @click="actualizarArchivos(imagen.idimagenes_grupo, 1)"
                      class="mx-2"
                      fab
                      dark
                      small
                      color="green"
                    >
                      <v-icon large dark>
                        mdi-check
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Aceptar imagen</span>
                </v-tooltip>
              </div>
            </v-expand-transition>
          </v-img>
        </v-hover>
      </v-col>
      <v-dialog v-model="dialogDelete" class="mx-auto" max-width="500">
        <v-card>
          <v-card-title class="text-h6"
            >¿Estás seguro de eliminar esta imagen?
          </v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeDelete()"
              >Cancelar</v-btn
            >
            <v-btn color="blue darken-1" text @click="deleteConfirm">OK</v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
var moment = require("moment");
moment.locale();

import router from "@/router";
import { mapActions, mapGetters } from "vuex";

export default {
  data: () => ({
    //variables utilizadas para subir imgs/files
    archivos: [],

    archivosInbi: [],
    vistaPrevias: [],
    files: [],
    formdata: "",
    archivo: "",
    link: "",

    unidad: 0,
    //dialogs
    dialog: false,
    dialogDelete: false,

    success: false,
    imagenes: [],

    id: 0,
  }),

  computed: {
    ...mapGetters("login", ["getdatosUsuario", "getLogeado"]),
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
    filesTemp() {
      console.log(this.filesTemp);
    },
  },

  created() {
    this.initialize();
    const fecha = new Date().toLocaleDateString("en-Es", {
      timeZone: "America/Mexico_City",
    });
    this.fecha = moment().format("YYYY-MM-DD HH:mm:ss");

    if (this.unidad == 1) {
      this.link = this.$http.options.root + "files/";
    } else {
      this.link = this.$http.options.root + "filesInbi/";
    }
  },

  methods: {
    ...mapActions("login", [
      "validarUser",
      "guardarInfo",
      "GetInfoUser",
      "salirLogin",
    ]),

    initialize() {
      this.unidad = 1;

      this.$http
        .get("archivos.grupo.all/")
        .then((response) => {
          // al arreglo que declare previamente le asigno response.body que son todos los registros
          this.imagenes = response.body;
        })
        .catch((error) => console.log(error));
    },

    //aprobar imagen
    actualizarArchivos(id, unidad) {
      this.unidad = unidad;
      this.success = false;
      //
      var archivos = {
        usuario_reviso: 1,
        aprobada: 1,
        fecha_actualizo: this.fecha,
        deleted: 0,
      };

      if (this.unidad == 1) {
        this.$http
          .put("archivos.grupo.update/" + id, archivos)
          .then((response) => {
            this.success = true;
            this.initialize();
          })
          .catch((error) => console.log(error));
      } else {
        this.$http
          .put("archivos.inbi.grupo.update/" + id, archivos)
          .then((response) => {
            this.success = true;
            this.initialize();
          })
          .catch((error) => console.log(error));
      }
    },

    //eliminar imagen
    deleteConfirm() {
      var archivos = {
        usuario_reviso: 1,
        aprobada: 0,
        fecha_actualizo: this.fecha,
        deleted: 1,
      };

      if (this.unidad == 1) {
        this.$http
          .put("archivos.grupo.update/" + this.id, archivos)
          .then((response) => {
            this.initialize();
          })
          .catch((error) => console.log(error));
      } else {
        this.$http
          .put("archivos.inbi.grupo.update/" + id, archivos)
          .then((response) => {
            this.success = true;
            this.initialize();
          })
          .catch((error) => console.log(error));
      }

      this.closeDelete();
    },

    deleteImagen(id, unidad) {
      this.dialogDelete = true;
      this.id = id;
      this.unidad = unidad;
    },

    closeDelete() {
      this.dialogDelete = false;
      this.id = 0;
      this.initialize();
    },

    moment(date) {
      return moment(date);
    },
  },
};
</script>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;

  position: absolute;
  width: 100%;
}
</style>
