<template>
  <v-container>
    <v-card class="mx-auto" width="100%" flat dense>
      <v-form class="" ref="form" lazy-validation dense>
        <!-- SUBIR ARCHIVO  -->
        <v-file-input
          @change="cargar()"
          v-model="files"
          label="Imágenes"
          append-icon=""
          prepend-icon=""
          prepend-inner-icon="mdi-image-outline"
          accept="image/*"
          outlined
          solo
          dense
          flat
        ></v-file-input>
        <v-alert v-if="success" outlined dense type="success">
          Imagen cargada exitosamente</v-alert
        >
        <v-card-actions
          ><v-spacer></v-spacer>
          <v-btn
            color="blue darken-4"
            dark
            @click="subirArchivos"
            :disabled="files.length == 0"
          >
            Guardar </v-btn
          ><v-spacer></v-spacer>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
var moment = require("moment");
moment.locale();

import router from "@/router";
import { mapActions, mapGetters } from "vuex";
import Avataaars from "vuejs-avataaars";

export default {
  components: {
    Avataaars,
  },
  data: () => ({
    //variables utilizadas para subir imgs/files
    archivos: [],
    vistaPrevias: [],
    files: [],
    formdata: "",
    archivo: "",
    link: "",

    unidad: 0,
    //dialogs
    dialog: false,
    dialogDelete: false,

    success: false,
  }),

  computed: {
    ...mapGetters("login", ["getdatosUsuario", "getLogeado"]),
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.close();
    },
    filesTemp() {
      console.log(this.filesTemp);
    },
  },

  created() {
    this.initialize();
    const fecha = new Date().toLocaleDateString("en-Es", {
      timeZone: "America/Mexico_City",
    });
    this.fecha = moment().format("YYYY-MM-DD HH:mm:ss");

    const date = new Date().toLocaleDateString("en-Es", {
      timeZone: "America/Mexico_City",
    });

    this.date = moment().calendar();

    if (this.unidad == 1) {
      this.link = this.$http.options.root + "files/";
    } else {
      this.link = this.$http.options.root + "filesInbi/";
    }
  },

  methods: {
    ...mapActions("login", [
      "validarUser",
      "guardarInfo",
      "GetInfoUser",
      "salirLogin",
    ]),

    initialize() {
      //login

      if (this.$route.params.id) {
        var roll = this.$route.params.roll;
        var id = this.$route.params.id;
        var idgrupo = this.$route.params.group;
        this.unidad = this.$route.params.unidad; //negocio

        //consultamos de acuerdo a la unidad de negocio fast == 1
        if (this.unidad == 1) {
          if (roll == 1) {
            this.$http
              .get("usuarios.alumnos.id/" + id)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                response.body[0].idgrupo = idgrupo;
                this.guardarInfo(response.body[0]);
              })
              .catch((error) => console.log(error));

            this.$http
              .get("publicaciones.grupo/" + idgrupo)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros

                this.posts = response.body;
              })
              .catch((error) => console.log(error));
          }

          if (roll == 3) {
            this.$http
              .get("usuarios.teachers.id/" + id)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                response.body[0].idgrupo = idgrupo;
                this.guardarInfo(response.body[0]);
              })
              .catch((error) => console.log(error));

            this.$http
              .get("publicaciones.grupo/" + idgrupo)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                this.posts = response.body;
              })
              .catch((error) => console.log(error));
          }
        } else {
          if (roll == 1) {
            this.$http
              .get("usuarios.alumnos.inbi.id/" + id)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                response.body[0].idgrupo = idgrupo;
                this.guardarInfo(response.body[0]);
              })
              .catch((error) => console.log(error));

            this.$http
              .get("publicaciones.inbi.grupo/" + idgrupo)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros

                this.posts = response.body;
              })
              .catch((error) => console.log(error));
          }

          if (roll == 3) {
            this.$http
              .get("usuarios.teachers.inbi.id/" + id)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                response.body[0].idgrupo = idgrupo;
                this.guardarInfo(response.body[0]);
              })
              .catch((error) => console.log(error));

            this.$http
              .get("publicaciones.inbi.grupo/" + idgrupo)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                this.posts = response.body;
              })
              .catch((error) => console.log(error));
          }
        }
      }
    },
    //dialog de form

    subirArchivos() {
      console.log("unidad",this.unidad)
      // Recorremos las imagenes previas cargadas para poder agregarlas al servidor y guardar el nombre en la base de datos
      this.vistaPrevias.forEach((element, index) => {
        // Mandamos el formdata (archivo) al servidor
        var archivos = {
          idteacher: this.$route.params.id,
          idgrupo: this.$route.params.group,
          archivo: element.file_name,
          usuario_registro: this.$route.params.id,
          fecha_creacion: this.fecha,
          fecha_actualizo: this.fecha,
          deleted: 0,
        };
        if (this.unidad == 1) {
          this.$http
            .post("archivos.grupo.add", archivos)
            .then((response) => {
              // subimos los archiv al serve  this.subirArchivos();
              this.$http
                .post("archivos_muro", element.formData)
                .then((response) => {
                  if (index == 0) {
                    // Limpiamos las imagenes previas ya cuando se haya terminado el recorrido del foreach
                  }
                  this.vistaPrevias = [];
                  this.files = [];
                  this.success = true;
                })
                .catch((error) => {
                  console.log(error);
                });
            })
            .catch((error) => console.log(error));
        } else {
          console.log("else")
          this.$http
            .post("archivos.inbi.grupo.add", archivos)
            .then((response) => {
               console.log("reponse", response.body)
              // subimos los archiv al serve  this.subirArchivos();
              this.$http
                .post("archivos_muro.inbi", element.formData)
                .then((response) => {
                  if (index == 0) {
                    // Limpiamos las imagenes previas ya cuando se haya terminado el recorrido del foreach
                  }
                  this.vistaPrevias = [];
                  this.files = [];
                  this.success = true;
                })
                .catch((error) => {
                  console.log(error);
                });
            })
            .catch((error) => console.log(error));
        }
      });
    },

    cargar() {
      this.success = false;
      if (this.files.length < 1) {
        return;
      }

      let formData = new FormData();
      //se crea el objeto y se le agrega como un apendice el archivo
      formData.append("file", this.files);
      //mandamos a ocvertir la imagen a base64 pero mandamos el docuemnto, el formdata, el nombre
      this.getBase64(this.files, formData);
    },

    getBase64(file, formData) {
      var me = this;
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function() {
        // me.archivo = reader.result; //base64
        // me.formdata = formData; //archivo

        me.vistaPrevias.push({
          url: reader.result,
          formData: formData,
          file_name: file.name,
        });
      };
    },
    moment(date) {
      return moment(date);
    },
  },
};
</script>
