<template class=" overflow-hidden">
  <!--CREAR POST-->
  <v-card class="mx-auto mt-2 overflow-hidden transparent" max-width="500" >

    <!-- App bar -->
    <v-app-bar
      absolute
      color="white"
      elevate-on-scroll
      scroll-target="#scrolling-techniques-7"
    >
      <!-- Nombre del usuario -->
      <v-avatar color="mr-2" size="40">
        <v-img
          class="elevation-6"
          alt=""
          :src="avatarRed + getdatosUsuario.nombre"
        ></v-img>
      </v-avatar>
      <v-toolbar-title class=" body-2 font-weight-medium"
        >{{ getdatosUsuario.nombre }}
        <div class=" text--secondary caption">
          {{ getdatosUsuario.roll == 1 ? "Student " : "Teacher " }}
        </div>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <!--ADD POST BTN-->
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn bottom left dense icon @click="open" v-bind="attrs" v-on="on">
            <v-icon>mdi-plus-thick</v-icon>
          </v-btn>
        </template>
        <span>Agrega una publicación</span>
      </v-tooltip>
      
    </v-app-bar>

    <!-- Contenido del mudo  -->
    <v-sheet
      id="scrolling-techniques-7"
      class="overflow-y-auto mt-12 transparent"
      :max-height="height"
    >
      <!-- SIN PUBLICACIONES -->
      <div v-if="posts.length == 0">
        <v-alert
          class="mx-auto mt-4  "
          max-width="500"
          color="blue darken-3"
          dark
          dense
          icon="mdi-alert-circle-outline"
          prominent
        >
          Este grupo aún no tiene publicaciones. <br />
          ¡Comparte tu primera publicación!
        </v-alert>
      </div>

      <!--POSTS-->
      <v-card
        class="mx-auto mt-6 rounded-md"
        max-width="500"
        v-for="(post, i) in posts"
        :key="post.idpublicacion"
      >
        <!--INFO USUARIO-->
        <v-list-item class="grow" dense>
          <v-list-item-avatar>
            <v-img
              v-if="post.idusuario != getdatosUsuario.idusuario"
              class="elevation-6"
              alt=""
              :src="avatar + post.nombre"
            ></v-img>

            <v-img
              v-else
              class="elevation-6"
              alt=""
              :src="avatarRed + post.nombre"
            ></v-img>
          </v-list-item-avatar>

          <v-list-item-content three-line>
            <v-list-item-title class="">{{ post.nombre }}</v-list-item-title>
            <v-list-item-subtitle
              >{{ post.tipo == 1 ? "Student " : "Teacher " }}&bull;{{
                moment(post.fecha_creacion).format("lll")
              }}
            </v-list-item-subtitle>
          </v-list-item-content>

          <!--MENÚ-->
          <v-menu
            bottom
            left
            dense
            v-if="post.idusuario == getdatosUsuario.idusuario"
          >
            <template dense v-slot:activator="{ on, attrs }">
              <!--BTN-->
              <v-btn dense icon v-bind="attrs" v-on="on">
                <v-icon>mdi-dots-horizontal</v-icon>
              </v-btn>
            </template>

            <!--OPCIONES MENÚ-->
            <v-list>
              <v-list-item-group dense color="primary">
                <div>
                  <v-list-item dense @click="editPost(post)">
                    <v-list-item-icon dense>
                      <v-icon>mdi-pencil-outline</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>Editar</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item dense @click="deletePost(post)">
                    <v-list-item-icon dense>
                      <v-icon>mdi-delete-outline</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>Eliminar</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </div>
              </v-list-item-group>
            </v-list>
          </v-menu>
        </v-list-item>
        <v-card-text dense>
          {{ post.descripcion }}
        </v-card-text>

        <!--POST.ARCHIVOS-->

        <v-window v-model="post.step" dense>
          <v-window-item
            dense
            :value="archivoIndex + 1"
            v-for="(archivo, archivoIndex) in post.archivos"
            :key="archivo.idarchivo"
          >
            <div
              v-if="
                extension(archivo.archivo) == 'jpeg' ||
                extension(archivo.archivo) == 'jpg' ||
                extension(archivo.archivo) == 'png' ||
                extension(archivo.archivo) == 'webp' ||
                extension(archivo.archivo) == 'gif'
              "
            >
              <v-img
                :src="link + archivo.archivo"
                height="400"
                width="500"
                class="mx-auto mb-1"
                aspect-ratio="1.8"
                contain
              >
              </v-img>
            </div>

            <div
              v-if="
                extension(archivo.archivo) == 'mp4' ||
                extension(archivo.archivo) == 'm4v' ||
                extension(archivo.archivo) == 'mov'
              "
            >
              <video width="500" height="400" controls>
                <source :src="link + archivo.archivo" />
              </video>
            </div>

            <div
              v-if="
                extension(archivo.archivo) == 'mp3' ||
                extension(archivo.archivo) == 'ogg'
              "
              class="ml-12"
            >
              <v-card-title class="ml-6" primary-title>
                {{ archivo.archivo }}
              </v-card-title>
              <audio controls class="ml-6">
                <source width="500" :src="link + archivo.archivo" />
              </audio>
            </div>

            <div
              v-if="
                extension(archivo.archivo) == 'pdf' ||
                extension(archivo.archivo) == 'doc'
              "
            >
              <embed
                type="application/pdf"
                id="pdf"
                :src="link + archivo.archivo + '#toolbar=0'"
                width="100%"
              />
            </div>
            <!-- -->

            <v-card-actions dense v-if="post.archivos.length > 1">
              <v-btn
                dense
                large
                icon
                :disabled="post.step === 1"
                text
                color="blue"
                @click="post.step--"
              >
                <v-icon x-large>mdi-menu-left</v-icon> 
              </v-btn>
              <v-spacer></v-spacer>

              <v-avatar size="35" color="blue " class="white--text caption">
                {{ post.step + "/" + post.archivos.length }}
              </v-avatar>

              <v-spacer></v-spacer>
              <v-btn
                dense
                large
                :disabled="post.step === post.archivos.length"
                color="blue"
                depressed
                @click="post.step++"
                icon
              >
                <v-icon x-large>mdi-menu-right</v-icon>
              </v-btn>
            </v-card-actions>
          </v-window-item>
        </v-window>

        <!--cards fiels-->

        <v-divider dense></v-divider>

        <!--LIKE/COMMENT-->
        <v-card-actions dense class=" mb-1">
          <v-spacer></v-spacer>

          <div class="blue--text" dense>
            <v-icon color="blue">mdi-comment-outline</v-icon>&nbsp;{{
              post.comentarios.length > 0 ? 
                post.comentarios.length == 1 ? 
                  post.comentarios.length + "  Comment" : post.comentarios.length + "  Comments" : "Comment"
            }}
          </div>
          <v-spacer></v-spacer>
        </v-card-actions>

        <v-divider class="mb-1" dense></v-divider>

        <!--COMENTARIOS-->
        <v-list-item
          v-for="(comentario, i) in post.comentarios"
          :key="comentario.i"
          dense
        >
          <v-list-item-avatar size="27" v-if="comentario.idusuario != getdatosUsuario.idusuario">
            <img width="25" height="25" :src="avatar + comentario.nombre" />
          </v-list-item-avatar>

          <v-list-item-avatar size="27" v-else>
            <img width="25" height="25" :src="avatarRed + comentario.nombre" />
          </v-list-item-avatar>



          <v-list-item-content three-lines dense>
            <v-list-item-title
              dense
              v-text="comentario.nombre"
            ></v-list-item-title>
            <v-list-item-subtitle
              class="grey lighten-3 rounded-xl pa-2 "
              v-text="comentario.comentario"
            ></v-list-item-subtitle>
            <div class="ma-2 mx-auto" v-if="comentario.archivo != null">
              <v-img
                dense
                class=""
                :src="link + comentario.archivo"
                width="150"
                height="150"
              />
            </div>

            <v-list-item-subtitle
              dense
              class="pl-3 "
              v-text="moment(comentario.fecha_creacion).format('lll')"
            ></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <!--ADD COMENTARIO-->
        <div v-if="vistaPrevias.length == 1">
          <v-chip
            class="ml-4 mr-4"
            outlined
            close
            @click:close="removeFile(vistaPrevias[0].url)"
          >
            {{ vistaPrevias[0].file_name }}
          </v-chip>
        </div>
        <v-text-field
          placeholder="Writte a comment..."
          filled
          rounded
          single-line
          dense
          color="blue"
          class="mr-4 ml-4 mt-2"
          v-model="post.comentario"
          :append-outer-icon="post.comentario ? 'mdi-send' : ''"
          @click:append-outer="saveComentario(post)"
        >
          <template v-slot:prepend>
            <v-avatar size="26" >
              <img
                width="24"
                height="24"
                :src="avatarRed + getdatosUsuario.nombre"
                alt=""
              />
            </v-avatar>
          </template>
          <template v-slot:append v-if="post.comentario">
            <v-file-input
              class="mb-2"
              @change="cargarImgComentario()"
              v-model="files"
              label="Archivos"
              prepend-icon="mdi-image-outline"
              accept="image/*"
              hide-input
              outlined
              dense
            ></v-file-input
          ></template>
        </v-text-field>

        <div class="mt-2"></div>
      </v-card>

      <!--FORM NEW/EDIT POST-->
      <v-dialog v-model="dialog" max-width="500">
        <v-card>
          <v-list-item class="grow">
            <v-list-item-avatar color="grey darken-3">
              <v-img
                class="elevation-6"
                alt=""
                :src="avatar + getdatosUsuario.nombre"
              ></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title
                >{{ getdatosUsuario.nombre }}
              </v-list-item-title>
              <v-list-item-subtitle
                >{{ getdatosUsuario.roll == 1 ? "Student " : "Teacher " }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-form class="" ref="form" lazy-validation>
            <v-textarea
              v-model="editedPosts.descripcion"
              auto-grow
              solo
              flat
              label="Share"
              rows="2"
            ></v-textarea>

            <!-- MOSTRAR ARCHIVOS  -->
            <div v-if="edit">
              <v-chip-group
                column
                v-for="(archivo, i) in editedPosts.archivos"
                :key="archivo.idarchivo"
              >
                <v-chip outlined close @click:close="deleteFile(archivo)">
                  {{ archivo.archivo }}
                </v-chip>
              </v-chip-group>
            </div>
            <div>
              <v-chip-group
                column
                v-if="archivos != null"
                v-for="(archivo, i) in vistaPrevias"
                :key="i"
              >
                <v-chip outlined close @click:close="removeFile(archivo.url)">
                  {{ archivo.file_name }}
                </v-chip>
              </v-chip-group>
            </div>

            <v-divider class="mb-2"></v-divider>
            <!-- SUBIR ARCHIVO  -->
            <v-card-actions>
              <v-file-input
                @change="cargar()"
                v-model="files"
                label="Archivos"
                prepend-icon="mdi-image-outline"
                accept="image/*, video/*"
                hide-input
                outlined
                dense
                multiple
              ></v-file-input>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="savePost"
                :disabled="editedPosts.descripcion == '' && vistaPrevias.length < 1 && filesTemp.length == 0"
              >
                {{ edit ? "Save" : "Post" }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>

      <!--DELETE POST-->
      <v-dialog v-model="dialogDelete" max-width="500">
        <v-card>
          <v-card-title class="text-h6">¿Estás seguro de eliminar esta publicación?
          </v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeDelete"
              >Cancel</v-btn
            >
            <v-btn color="blue darken-1" text @click="deletePostConfirm"
              >OK</v-btn
            >
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-sheet>
  </v-card>
</template>

<script>
var moment = require("moment");
moment.locale();

import router from "@/router";
import { mapActions, mapGetters } from "vuex";
import Avataaars from "vuejs-avataaars";

export default {
  components: {
    Avataaars,
  },
  data: () => ({
    //variables utilizadas para subir imgs/files
    archivos: [],
    vistaPrevias: [],
    files: [],
    formdata: "",
    archivo: "",
    link: "",

    unidad: 0,
    //dialogs
    dialog: false,
    dialogDelete: false,

    //
    editedPosts: {
      idpublicacion: 0,
      descripcion: "",
      idusuario: 0,
      idgrupo: 0,
      usuario_registro: 0,
      fecha_creacion: null,
      fecha_actualizo: null,
      deleted: 0,
    },
    defaultItem: {
      idpublicacion: 0,
      descripcion: "",
      idusuario: 0,
      idgrupo: 0,
      usuario_registro: 0,
      fecha_creacion: null,
      fecha_actualizo: null,
      deleted: 0,
    },
    //crud
    posts: [],
    deleted: false,
    edit: false,

    filesTemp: [],
    filesEdit: [],

    //
    ext: "",
    step: 0,
    avatar:"https://ui-avatars.com/api/?background=1976d2&color=fff&rounded=true&format=svg&name=",
    avatarRed:"https://ui-avatars.com/api/?background=02C2A8&color=fff&rounded=true&format=svg&name=",

    post: false,
    usuarios: [],
    loading:false
  }),

  computed: {
    ...mapGetters("login", ["getdatosUsuario", "getLogeado"]),

    height() {
      return this.$vuetify.breakpoint.height-80
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.close();
    },
    filesTemp() {
      console.log(this.filesTemp);
    },
  },

  created() {
    
    this.initialize();

    const fecha = new Date().toLocaleDateString("en-Es", {
      timeZone: "America/Mexico_City",
    });

    this.fecha = moment().format("YYYY-MM-DD HH:mm:ss");

    if (this.unidad == 2) {
      this.link = this.$http.options.root + "files/";
    } else {
      this.link = this.$http.options.root + "filesInbi/";
    }
  },

  methods: {
    ...mapActions("login", [ "validarUser", "guardarInfo", "GetInfoUser", "salirLogin"]),

    initialize() {
      this.loading = true
      //login

      if (this.$route.params.id) {
        // Roll 
        /*
          1-. Alumno
          3-. Teacher
        */
        var roll = this.$route.params.roll;
        var id = this.$route.params.id;
        var idgrupo = this.$route.params.group;
        // unidad de negocio
        /*
          1-. Inbi
          2-. Fast

        */
        this.unidad = this.$route.params.unidad; //negocio

        //consultamos de acuerdo a la unidad de negocio fast == 1
        if (this.unidad == 2) {
          if (roll == 1) {
            this.$http
              .get("usuarios.alumnos.id/" + id)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                response.body[0].idgrupo = idgrupo;
                this.guardarInfo(response.body[0]);
              })
              .catch((error) => console.log(error));

            this.$http
              .get("publicaciones.grupo/" + idgrupo)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros

                this.posts = response.body;
                this.loading = false
              })
              .catch((error) => console.log(error));
          }

          if (roll == 3) {
            this.$http
              .get("usuarios.teachers.id/" + id)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                response.body[0].idgrupo = idgrupo;
                this.guardarInfo(response.body[0]);
              })
              .catch((error) => console.log(error));

            this.$http
              .get("publicaciones.grupo/" + idgrupo)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                this.posts = response.body;
                this.loading = false
              })
              .catch((error) => console.log(error));
          }
        } else {
          if (roll == 1) {
            this.$http
              .get("usuarios.alumnos.inbi.id/" + id)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                response.body[0].idgrupo = idgrupo;
                this.loading = false
                this.guardarInfo(response.body[0]);
              })
              .catch((error) => console.log(error));

            this.$http
              .get("publicaciones.inbi.grupo/" + idgrupo)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros

                this.posts = response.body;
                this.loading = false
              })
              .catch((error) => console.log(error));
          }

          if (roll == 3) {
            this.$http
              .get("usuarios.teachers.inbi.id/" + id)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                response.body[0].idgrupo = idgrupo;
                this.guardarInfo(response.body[0]);
              })
              .catch((error) => console.log(error));

            this.$http
              .get("publicaciones.inbi.grupo/" + idgrupo)
              .then((response) => {
                // al arreglo que declare previamente le asigno response.body que son todos los registros
                this.posts = response.body;
                this.loading = false
              })
              .catch((error) => console.log(error));
          }
        }
      }

      this.$http
        .get("usuarios.alumnos.grupo/" + this.$route.params.group)
        .then((response) => {
          // al arreglo que declare previamente le asigno response.body que son todos los registros

          this.usuarios = response.body;
          this.loading = false
        })
        .catch((error) => console.log(error));
    },
    //dialog de form
    open() {
      this.dialog = true;
    },
    close() {
      this.dialog = false;

      this.$nextTick(() => {
        this.editedPosts = Object.assign({}, this.defaultItem);
        this.edit = false;
      });
      this.reset();
      this.initialize();
    },

    //metodos de crud
    editPost(post) {
      this.edit = true;
      this.editedPosts = Object.assign({}, post);
      this.dialog = true;
      console.log(this.filesEdit);
    },

    deletePost(post) {
      this.dialogDelete = true;
      this.editedPosts = Object.assign({}, post);
    },

    deletePostConfirm() {
      var datos = {
        descripcion: this.editedPosts.descripcion,
        idusuario: this.getdatosUsuario.idusuario,
        idgrupo: this.getdatosUsuario.idgrupo,
        usuario_registro: 0,
        fecha_actualizo: this.fecha,
        deleted: 1,
      };

      var archivos = this.editedPosts.archivos;
      //se actulizara por unidad de negocio
      if (this.unidad == 2) {
        this.$http
          .put("publicaciones.update/" + this.editedPosts.idpublicacion, datos)
          .then((response) => {
            for (const i in archivos) {
              archivos[i].deleted = 1;
              archivos[i].fecha_actualizo = this.fecha;
              this.$http
                .put("archivos.update/" + archivos[i].idarchivo, archivos[i])
                .then((response) => {})
                .catch((error) => console.log(error));
            }
          })
          .catch((error) => console.log(error));
      } else {
        this.$http
          .put(
            "publicaciones.inbi.update/" + this.editedPosts.idpublicacion,
            datos
          )
          .then((response) => {
            for (const i in archivos) {
              archivos[i].deleted = 1;
              archivos[i].fecha_actualizo = this.fecha;
              this.$http
                .put(
                  "archivos.inbi.update/" + archivos[i].idarchivo,
                  archivos[i]
                )
                .then((response) => {})
                .catch((error) => console.log(error));
            }
          })
          .catch((error) => console.log(error));
      }

      this.closeDelete();
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedPosts = Object.assign({}, this.defaultItem);
        this.edit = false;
      });
      this.reset();
      this.initialize();
    },

    saveComentario(post) {
      var datos = {
        idpublicacion: post.idpublicacion,
        idusuario: this.getdatosUsuario.idusuario,
        comentario: post.comentario,
        archivo:
          this.vistaPrevias.length === 1
            ? this.vistaPrevias[0].file_name
            : null,
        usuario_registro: 0,
        fecha_creacion: this.fecha,
        fecha_actualizo: this.fecha,
        deleted: 0,
      };

      if (post.comentario != "") {
        if (this.unidad == 2) {
          this.$http
            .post("comentarios.add", datos)
            .then((response) => {
              if (this.vistaPrevias.length === 1) {
                this.$http
                  .post("archivos_muro", this.vistaPrevias[0].formData)
                  .then((response) => {
                    this.initialize();
                    this.reset();
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              } else {
                this.initialize();
                this.reset();
              }
            })
            .catch((error) => console.log(error));
        } else {
          this.$http
            .post("comentarios.inbi.add", datos)
            .then((response) => {
              if (this.vistaPrevias.length == 1) {
                this.$http
                  .post("archivos_muro.inbi", this.vistaPrevias[0].formData)
                  .then((response) => {
                    this.initialize();
                    this.reset();
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              } else {
                this.initialize();
                this.reset();
              }
            })
            .catch((error) => console.log(error));
        }
      }
    },

    like(idpost) {
      var datos = {
        idpublicacion: idpost,
        idusuario: this.getdatosUsuario.idusuario,
        me_gusta: 1,
        usuario_registro: 0,
        fecha_creacion: this.fecha,
        fecha_actualizo: this.fecha,
        deleted: 0,
      };

      this.$http
        .post("likes.add", datos)
        .then((response) => {
          this.initialize();
        })
        .catch((error) => console.log(error));
    },

    savePost() {
      var datos = {
        descripcion: this.editedPosts.descripcion,
        idusuario: this.getdatosUsuario.idusuario,
        idgrupo: this.getdatosUsuario.idgrupo,
        usuario_registro: 0,
        fecha_creacion: this.fecha,
        fecha_actualizo: this.fecha,
        deleted: 0,
      };
      //guardamos posts
      if (this.edit) {
        //si es true, actualizamos
        if (this.unidad == 2) {
          this.$http
            .put(
              "publicaciones.update/" + this.editedPosts.idpublicacion,
              datos
            )
            .then((response) => {
              // eliminamos si hay algun archivo en la var temp
              this.subirArchivos(response.body.id);

              // guardamos si hay algun archivo agregado if (this.filesTemp.length > 0) {
              for (const i in this.filesTemp) {
                this.filesTemp[i].deleted = 1;
                this.filesTemp[i].fecha_actualizo = this.fecha;
                this.$http
                  .put(
                    "archivos.update/" + this.filesTemp[i].idarchivo,
                    this.filesTemp[i]
                  )
                  .then((response) => {
                    this.initialize();
                  })
                  .catch((error) => console.log(error));
              }
              this.reset();
            })
            .catch((error) => console.log(error));
        } else {
          this.$http
            .put(
              "publicaciones.inbi.update/" + this.editedPosts.idpublicacion,
              datos
            )
            .then((response) => {
              console.log(this.vistaPrevias.length);
              // eliminamos si hay algun archivo en la var temp
              this.subirArchivos(response.body.id);

              // guardamos si hay algun archivo agregado if (this.filesTemp.length > 0) {
              for (const i in this.filesTemp) {
                this.filesTemp[i].deleted = 1;
                this.filesTemp[i].fecha_actualizo = this.fecha;
                this.$http
                  .put(
                    "archivos.inbi.update/" + this.filesTemp[i].idarchivo,
                    this.filesTemp[i]
                  )
                  .then((response) => {
                    this.initialize();
                  })
                  .catch((error) => console.log(error));
              }
              this.reset();
            })
            .catch((error) => console.log(error));
        }
      } else {
        //unidad de negocio
        if (this.unidad == 2) {
          this.$http
            .post("publicaciones.add", datos)
            .then((response) => {
              // guardamos si hay algun archivo
              //this.vistaPrevias.forEach((element, index) => {});

              this.subirArchivos(response.body.id);
              this.sendNotificacion();
            })
            .catch((error) => console.log(error));
        } else {
          this.$http
            .post("publicaciones.inbi.add", datos)
            .then((response) => {
              // guardamos si hay algun archivo
              //this.vistaPrevias.forEach((element, index) => {});

              this.subirArchivos(response.body.id);
              this.sendNotificacion();
            })
            .catch((error) => console.log(error));
        }

        if (this.vistaPrevias.length == 0) {
          this.reset();
        }
      }
    },

    subirArchivos(id) {
      console.log("vp", this.vistaPrevias);

      // Recorremos las imagenes previas cargadas para poder agregarlas al servidor y guardar el nombre en la base de datos
      this.vistaPrevias.forEach((element, index) => {
        // Mandamos el formdata (archivo) al servidor
        var archivos = {
          idpublicacion: id,
          archivo: element.file_name,
          usuario_registro: 0,
          fecha_creacion: this.fecha,
          fecha_actualizo: this.fecha,
          deleted: 0,
        };
        if (this.unidad == 2) {
          this.$http
            .post("archivos.add", archivos)
            .then((response) => {
              // subimos los archiv al serve  this.subirArchivos();
              this.$http
                .post("archivos_muro", element.formData)
                .then((response) => {
                  if (index == 0) {
                    // Limpiamos las imagenes previas ya cuando se haya terminado el recorrido del foreach
                  }
                })
                .catch((error) => {
                  console.log(error);
                });
            })
            .catch((error) => console.log(error));
        } else {
          this.$http
            .post("archivos.inbi.add", archivos)
            .then((response) => {
              // subimos los archiv al serve  this.subirArchivos();
              this.$http
                .post("archivos_muro.inbi", element.formData)
                .then((response) => {
                  if (index == 0) {
                    // Limpiamos las imagenes previas ya cuando se haya terminado el recorrido del foreach
                  }
                })
                .catch((error) => {
                  console.log(error);
                });
            })
            .catch((error) => console.log(error));
        }
      });

      this.close();
    },

    cargar() {
      if (this.files.length < 1) {
        return;
      }

      this.files.forEach((element, index) => {
        // creamos una variable tipo FormData
        let formData = new FormData();
        //se crea el objeto y se le agrega como un apendice el archivo
        formData.append("file", element);
        //mandamos a ocvertir la imagen a base64 pero mandamos el docuemnto, el formdata, el nombre
        this.getBase64(element, formData);
      });
    },

    cargarImgComentario() {
      if (this.files.length < 1) {
        return;
      }

      let formData = new FormData();
      //se crea el objeto y se le agrega como un apendice el archivo
      formData.append("file", this.files);
      //mandamos a ocvertir la imagen a base64 pero mandamos el docuemnto, el formdata, el nombre
      this.getBase64(this.files, formData);
    },

    getBase64(file, formData) {
      var me = this;
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function() {
        // me.archivo = reader.result; //base64
        // me.formdata = formData; //archivo

        me.vistaPrevias.push({
          url: reader.result,
          formData: formData,
          file_name: file.name,
        });
      };
    },

    removeFile(file) {
      this.vistaPrevias.forEach((element, index) => {
        if (element.url == file) {
          this.vistaPrevias.splice(index, 1);
        }
      });
    },

    deleteFile(file) {
      console.log("delete file", this.filesEdit);
      this.filesTemp.push(file); //var temporal para eliminar los archivos hasta cuando le den click en save
      var index = this.editedPosts.archivos.indexOf(file);
      this.editedPosts.archivos.splice(index, 1);

      if (this.unidad == 2) {
        this.$http
          .put("archivos.update/" + file.idarchivo, file)
          .then((response) => {
            this.initialize();
          })
          .catch((error) => console.log(error));
      } else {
        this.$http
          .put("archivos.inbi.update/" + file.idarchivo, file)
          .then((response) => {
            this.initialize();
          })
          .catch((error) => console.log(error));
      }
    },

    reset() {
      this.vistaPrevias = [];
      this.files = [];
      this.editedPosts.descripcion = "";
    },

    moment(date) {
      return moment(date);
    },

    extension(filename) {
      this.ext = /[.]/.exec(filename) ? /[^.]+$/.exec(filename)[0] : undefined;
      return /[.]/.exec(filename) ? /[^.]+$/.exec(filename)[0] : undefined;
    },

    sendNotificacion() {
      console.log("send not");
      var datos = {
        nombre: "Nueva publicación",
        notificacion:
          this.getdatosUsuario.nombre + " ha agregado una nueva publicación",
        tipo_usuario: 0,
        tipo_notificacion: 1,
        id_grupo: this.getdatosUsuario.idgrupo,
        estatus: 1,
        fecha_inicio: this.fecha,
        fecha_termina: "",
        fecha_creacion: this.fecha,
        fecha_ultimo_cambio: this.fecha,
        deleted: 0,
      };

      var datos_user = {
        id_notificacion: 0,
        id_usuario: 0,
        estatus: 0,
        fecha_creacion: this.fecha,
        fecha_ultimo_cambio: this.fecha,
        deleted: 0,
      };

      if (this.unidad == 2) {
        this.$http
          .post("notificaciones.add", datos)
          .then((response) => {
            for (const i in this.usuarios) {
              datos_user.id_usuario = this.usuarios[i].idusuario;
              datos_user.id_notificacion = response.body.id;
              if (
                this.getdatosUsuario.idusuario != this.usuarios[i].idusuario
              ) {
                this.$http
                  .post("notificaciones.add.alumnos", datos_user)
                  .then((response) => {
                    this.initialize();
                  })
                  .catch((error) => console.log(error));
              }
            }
          })
          .catch((error) => console.log(error));
      } else {
        this.$http
          .post("notificaciones.inbi.add", datos)
          .then((response) => {
            for (const i in this.usuarios) {
              datos_user.id_usuario = this.usuarios[i].idusuario;
              datos_user.id_notificacion = response.body.id;
              if (
                this.getdatosUsuario.idusuario != this.usuarios[i].idusuario
              ) {
                this.$http
                  .post("notificaciones.inbi.add.alumnos", datos_user)
                  .then((response) => {
                    this.initialize();
                  })
                  .catch((error) => console.log(error));
              }
            }
          })
          .catch((error) => console.log(error));
      }
    },
  },
};
</script>

<style>
::-webkit-scrollbar {
  -webkit-appearance: none !important;
}

::-webkit-scrollbar:vertical {
  width: 8px !important;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #babcbf;
  border-radius: 20px;
  border: 1px solid #ededed;
}
</style>
