<template>
  <v-container fill-height>
    <v-row justify="center">
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title primary-title>
            <h1>App capacitor</h1>
          </v-card-title>

          <v-card-text>
            <img id="savedPhoto" />

            <div>
              <v-btn :color="activeApp ? 'success' : 'error'">App state</v-btn>
            </div>

            <div>
              App url: {{ urlApp }}
            </div>
          </v-card-text>

          <v-card-actions>
            <v-btn color="primary" @click="notifica()">
              Crear notificación
            </v-btn>
          </v-card-actions>

          {{ messages }}

          {{ imageUrl }}
        </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { Camera, CameraResultType } from '@capacitor/camera';
  import { Plugins } from '@capacitor/core';
  const  { LocalNotifications, BackgroundTask } = Plugins;
  import { io  } from "socket.io-client";
  import { App } from '@capacitor/app';
  import { PushNotifications } from '@capacitor/push-notifications';


  export default {
    data(){
      return{
        imageUrl: null,
        messages:'',
        socket: null,
        activeApp: true,
        urlApp: ''
      }
    },

    mounted () {
      // // Modo servidor
      // this.socket = io(`https://web-back-inbi.club/`, {
      //   transports: ["websocket"], path: '/ws/socket.io' 
      // });

      // // Modo local
      // // this.socket = io(`ws://localhost:3004/`, {
      // //   transports: ["websocket"], path: '/ws/socket.io' 
      // // });

      // this.socket.on("connect", ( ) => {
      //   // Conectar cocket
      //   console.log('connect')
      //   this.$http.get('asistencia_teacher.no.asistencias').then(response=>{
      //     console.log(response.body)
      //   }).catch(error=>{
      //     console.log(error)
      //   })
      // });

      // this.socket.on("disconnect", () => {
      //   console.log('Desconectado del servidor');
      // });

      // this.socket.on("asistencias-teacher", ( payload ) => {
      //   // console.log('asistenica socket',payload)
      //   // this.notifica()
      //   // if(payload.gruposFast.length > 0){
      //   //   const greeting = new Notification('Grupos no iniciados',{
      //   //     body: 'Algunos grupos no han iniciado',
      //   //     icon: 'https://web-back-inbi.club/iconosclima/info.png',
      //   //     vibrate: [200, 100, 200],
      //   //     // tag: 'vibration-sample',
      //   //     // timestamp: dts,
      //   //     requireInteraction: true
      //   //   });
      //   // }
      // });
    },

    async created(){
      const addListeners = async () => {
        await PushNotifications.addListener('registration', token => {
          console.info('Registration token: ', token.value);
        });

        await PushNotifications.addListener('registrationError', err => {
          console.error('Registration error: ', err.error);
        });

        await PushNotifications.addListener('pushNotificationReceived', notification => {
          console.log('Push notification received: ', notification);
        });

        await PushNotifications.addListener('pushNotificationActionPerformed', notification => {
          console.log('Push notification action performed', notification.actionId, notification.inputValue);
        });
      }

      const registerNotifications = async () => {
        let permStatus = await PushNotifications.checkPermissions();

        if (permStatus.receive === 'prompt') {
          permStatus = await PushNotifications.requestPermissions();
        }

        if (permStatus.receive !== 'granted') {
          throw new Error('User denied permissions!');
        }

        await PushNotifications.register();
      }

      const getDeliveredNotifications = async () => {
        const notificationList = await PushNotifications.getDeliveredNotifications();
        console.log('delivered notifications', notificationList);
      }

      console.log('cecfecvqc', registerNotifications())

     
      // this.iniciarSocket()
      // this.$http.get('asistencia_teacher.no.asistencias').then(response=>{
      //   console.log(response.body)
      // }).catch(error=>{
      //   console.log(error)
      // })

      // App.addListener('appStateChange', ({ isActive }) => {
      //   this.socket.on("asistencias-teacher", ( payload ) => {
      //     console.log('asistenica socket',payload)
      //     this.notifica()
      //     // if(payload.gruposFast.length > 0){
      //     //   const greeting = new Notification('Grupos no iniciados',{
      //     //     body: 'Algunos grupos no han iniciado',
      //     //     icon: 'https://web-back-inbi.club/iconosclima/info.png',
      //     //     vibrate: [200, 100, 200],
      //     //     // tag: 'vibration-sample',
      //     //     // timestamp: dts,
      //     //     requireInteraction: true
      //     //   });
      //     // }
      //   });
      //   this.activeApp = isActive
      //   console.log('App state changed. Is active?', isActive);
      // });

      // App.addListener('appUrlOpen', data => {
      //   console.log('App opened with URL:', data);
      // });

      // App.addListener('appRestoredResult', data => {
      //   console.log('Restored state:', data);
      // });

      // const checkAppLaunchUrl = async () => {
      //   const { url } = await App.getLaunchUrl();
      //   this.urlApp = url
      //   console.log('App opened with URL: ' + url);
      // };
    } ,

    methods:{
      async notifica(){
        const notifi = await LocalNotifications.schedule({
          notifications: [
            {
              title: 'Notificación',
              body: 'Hola, esta es una notificación',
              id: 1,
              schedule: { at: new Date(Date.now() + 1000 * 5) },
              sound: 'beep.wav',
              attachments: null,
              actionTypeId: '',
              extra: null,
            },
          ],
        });
      },
    }
  }
</script>