<template>
  <v-app  class="transparent">
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import Avataaars from "vuejs-avataaars";

export default {
  name: "App",
  components: {
    Avataaars,
  },
  data: () => ({
    drawer: true,
    items: [
      { title: "Home", icon: "mdi-home-city", path: "Home" },

      {
        title: "Posts",
        icon: "mdi-thought-bubble-outline",
        path: "Posts",
      },
    ],
    mini: true,
    avatar: "",
  }),

  created() {
    this.avatar ="https://ui-avatars.com/api/?background=1976d2&color=fff&rounded=true&format=svg&name=";
  },

  computed: {},

  methods: {
   
  },
};
</script>
